<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width" />
        {%if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
        {% else %}
        <title>{{ site.title }}</title>
        {% endif %}
        <link rel="alternate" href="{{ site.url }}/atom.xml" type="application/atom+xml" title="Sitewide ATOM Feed">
        <link rel="stylesheet" href="{{ site.url }}/css/app.css">
        <script src="{{ site.url }}/js/modernizr.foundation.js"></script>        
    </head>
    <body>
    	<!-- Navigation -->
        <div class="contain-to-grid">
            <nav class="top-bar">
                <ul>
                    <li><img alt="header" src="{{ site.url }}/img/mono.png"/></li>
                    <li class="name"><h1><a href="{{ site.url }}/">{{ site.title }}</a></h1></li>
                    <li class="toggle-topbar"><a href="#"></a></li>
                </ul>
                <section>
                    <ul class="right">
                        <li><a href="{{ site.url }}/about.html">about</a></li>
                    </ul>
                </section>
            </nav>
        </div>
        <!-- Body -->
    	<div class="row">
            <div class="twelve columns">
                {% if page.title %}
                    <h1>{{ page.title }}</h1>
                {% endif %}
                {{ content }}
            </div>
    	</div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="twelve columns">
                    &copy; {{ site.time | date: "%Y" }} {{ site.author }}. all rights reserved.
                </div>
            </div>
        </footer>
        <!-- JavaScript (deferred) -->
        <script src="{{ site.url }}/js/app.js"></script>

    <script>
      document.write('<script src="{{ site.url }}/js/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
    </script>
    <script>
      $(document).foundation();
    </script>

    </body>
</html>